@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aea7ac;
}

.alert {
    font-size: larger;
}

.alert__success {
    background-color: #35ff2e;
    border-radius: 10px;
    color: #fff;
    padding: .2rem;
    text-align: center;
}

.alert__danger {
    background-color: #ff2e2e;
    border-radius: 10px;
    color: #fff;
    padding: .2rem;
    text-align: center;
}
   
.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    padding: 1rem;
}

.form__image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form__header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login__button {
    display: flex;
    align-items: center;
}

.login__button button {
    border: none;
    background-color: #1ABC9C;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.login__button button:hover{
    background-color: #08836a
}

.login__button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form__header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: .3rem;
    background-color: #1ABC9C;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input__box input {
    margin: .6rem 0;
    padding: .8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input__box input:hover{
    background-color: #eeeeee75;
}

.input__box input:focus-visible{
    outline: 1px solid #1ABC9C;
}

.input__box label, 
.gender__title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input__box input::placeholder{
    color: #000000be;
}

.gender__group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender__input {
    display: flex;
    align-items: center;
}

.gender__input input {
    margin-right: .35rem;
}

.gender__input label {
    font-size: .81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue__button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #1ABC9C;
    padding: .62rem;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.continue__button button:hover{
    background-color: #08836a;
}

.continue__button button a {
    text-decoration: none;
    font-size: .93rem;
    font-weight: 500;
    color: #fff;
}

@media  screen and (max-width:1330px) {
    .form__image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media  screen and (max-width:1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input__group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender__input {
        margin-top: 2rem;
    }

    .gender__group {
        flex-direction: column;
    }

    .gender__input {
        margin-top: .5rem;
    }
}
